/* Main */
/* Scale in animation */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


/* Navbar Section */
.nav-bar {
  position: relative;
  z-index: 9;
  padding: 15px 5rem;
  background-color: #fff;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.nav-bar .menu-icon {
  position: absolute;
  display: none;
  right: 35px;
  top: 6px;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}
.nav-list-item {
  /* display: none; */
  padding: 0 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #083E5E;
}
.nav-list-item a {
  text-decoration: none;
  color: inherit;
}
.nav-list-item:hover {
  color: #0D81C3;
}

@media screen and (max-width: 860px){
  .nav-bar .menu-icon { 
    display: block;
  }
  .nav-bar {
    margin-bottom: 2rem;
  }
  .nav-list {
    list-style: none;
    display: block;
    position: absolute;
    right: 0;
    top: 62px;
  }
}


/* Home Section */
.home-section {
  z-index: 1;
  /* -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  display: flex;
  padding-bottom: 150px;
  position: relative;
  background-color: #CCD1DB;
}
.profile-section {
  position: relative;
  padding-top: 12rem;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 40%;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.profile-section .profile-start {
  color: #0D81C3;
  font-size: larger;
  font-weight: 600;
}
.profile-name {
  color: #083E5E;
  font-size: xx-large;
  font-weight:bolder;
  margin-top: 5px;
}
/* Text Focus in animation */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.profile-title {
  position: absolute;
  font-size: large;
  margin-top: 2px;
  font-weight: 700;
  color: #083E8E;
}
.profile-description {
  margin: 40px 0px 35px;
  color: #777878;
}
.profile-actions {
  display: flex;
}
.btn-action {
  border: 1px solid;
  padding: 15px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.primary {
  /* background-color: cyan; */
  background-color: #0D81C3;
  color: #fff;
}
.secondary {
  /* color: #fff; */
  border-color: #0D81C3;
}
.secondary:hover {
  background-color: #0D81C3;
  color: #fff;
  transition: .5s ease-in-out;
}
.profile-image {
  width: 250px;
  height: 450px;
  position: absolute;
  right: 260px;
  bottom: 65px;
}

/* Home to Intro */
.hometointromodel {
  width: 900px;
  background-color: #fff;
  border-radius: 55px;
  position: absolute;
  right: 130px;
  bottom: -60px;
  display: flex;
  padding: 30px 45px;
  justify-content: space-between;
  -webkit-box-shadow: -3px 7px 19px 3px rgba(204,209,219,1);
  -moz-box-shadow: -3px 7px 19px 3px rgba(204,209,219,1);
  box-shadow: -3px 7px 19px 3px rgba(204,209,219,1);
  -webkit-animation: bounce-top 0.9s 1s both;
  animation: bounce-top 0.9s 1s both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@media screen and (max-width: 1187px) {
  body {
    font-size: small !important;
  }
  .profile-section .profile-start {
    font-size: small !important;
  }
  .profile-section .profile-name {
    font-size: large !important;
  }
  .profile-section.profile-title {
    font-size: medium !important;
  }
  .profile-image-section .profile-image {
    right: 190px;
    height: 400px;
    width: 190px;
  }
  .hometointromodel {
    width: 700px;
  }
}

@media screen and (max-width: 940px) {
  .hometointromodel {
    width: 540px;
    right: 46px;
  }
  .hometointromodel .htm-item {
    display: block;
  }
  .item-border {
    margin-left: 20%;
  }
  .htm-item .item-details {
    margin-left: 0px !important;
    margin-top: 5px;
  }
  .profile-image-section .profile-image {
    right: 12%;
  }
}

@media screen and (max-width: 555px){
  .profile-image-section .profile-image {
    right: 20px;
    opacity: .16;
  }
}

@media screen and (max-width: 980px) {
  .profile-image-section .profile-image {
    top: 10%;
  }

  .profile-section {
    padding-top: 7rem;
  }
}

.htm-item .item-border {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #0D81C3;
  position: relative;
}
.item-border img {
  position: absolute;
  top: 10px;
  left: 10px;
}
.htm-item {
  padding: 10px;
  display: flex;
}
.htm-item .item-details {
  margin-left: 20px;
}

.htm-item .item-details p:nth-child(1) {
  color: #083E5E;
  font-weight: bolder;
}
.htm-item .item-details p:nth-child(2) {
  color: #0D81C3;
  font-size: small;
  font-weight: bold;
}

/* Intosection */

/* About  me */

.aboutme {
  padding-top: 165px;
  background-color: #fff;
  display: flex;
  overflow: visible;
  padding-bottom: 100px;
}

.abt-prof-img {
  margin-left: 250px;
  /* width: 250px;
  height: 250px;
  /*border-radius: 50%;
  background-color: #fff;
  border: 1px solid; */
}
.abt-prof-img img {
  height: 350px;
  width: 250px;
}
.aboutme-details {
  width: 650px;
  margin-left: 10%;
  margin-top: 40px;
}
.abtme-title1 {
  color: #0D81C3;
}
.abtme-title2 {
  color: #083E5E;
  font-size: xx-large;
  font-weight: bold;
}
.aboutme-details .explore-work {
  margin-top: 25px;
  font-weight: bolder;
  font-size: large;
  color: #083E5E;
}
.explore-work .tech-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.tech-list .tech-item {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse;
}
.tech-item .tech-item-name {
  margin-left: 10px;
  text-decoration: none;
  color: #0D81C3;
}

.abtme-description {
  margin-top: 10px;
  color: #777878;
}
.aboutme-contacts {
    margin-top: 50px;
}
.aboutme-contacts .row {
  display: flex;
  margin-bottom: 18px;
}
.icon-avatar {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
}
/* .aboutme-contacts .row .col:nth-child(2), :nth-child(3) {
   margin-right: 40px;
} */

/* Skill Section */
.skill-section {
  padding: 70px 0;
  background-color: #CCD1DB;
}
.skill-section .skill-title1 {
  color: #0D81C3;
  margin-bottom: 10px;
}
.skill-section .skill-title2 {
  color: #083E5E;
  font-size: xx-large;
  font-weight: bolder;
}
.skill-section p {
  text-align: center;
}
.skill-list {
  list-style: none;
  display: flex;
  padding: 0;
  width: 70%;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  margin-top: 40px;
}
.skill-list-item {
  padding: 20px;
}

/* Qualifications */
.qualifications {
  background-color: #fff;
  padding: 70px 0;
}
.qualifications .qual-title {
  color: #0D81C3;
}
.qualifications .qual-title, .qualifications .qual-awe-journey {
  text-align: center;
}
.qualifications .qual-awe-journey {
  font-size: xx-large;
  font-weight: bold;
  color: #083E5E;
}
.qualifications .qualification-lists {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.qualification-lists .experience, .qualification-lists .education {
  width: 500px;
  color:#083E8E;
}
.education-lists, .experience-lists {
  padding: 0;
  margin-top: 25px;
  color: #083E5E;
}
.education .edu-title, .experience .exp-title {
  font-size: x-large;
}
.experience .experience-lists, .education .education-lists {
  list-style: none;
}
.edu-list-item, .exp-list-item {
  display: flex;
  margin-bottom: 30px;
}

.qual-list-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0D81C3;
  position: relative;
  margin-right: 20px;
}
.qual-list-icon::after {
  content: "";
  height: 45px;
  border: 1px solid #0D81C3;
  position: absolute;
  top: 11px;
  left: 5px;
}
.exp-details .exp-cmp-name, .edu-details .edu-deg {
  font-weight: bold;
}
.edu-details .edu-name, .exp-details .exp-role {
  color: gray;
  font-size: small;
  margin-bottom: 5px;
}
.exp-details .exp-date, .edu-details .edu-date {
  font-size: small;
  color: #0D81C3;
}
.exp-date, .edu-date {
  display: flex;
  align-items: center;
}
.exp-date .square, .edu-date .square {
  width: 10px;
  height: 10px;
  background-color: #0D81C3;
  margin-right: 5px;
}


/* Work I DO */
.myworks {
  padding-top: 100px;
  background-color: #CCD1DB;
  padding-bottom: 20px;
}
.myworks .title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
  color: #083E5E;
}
.myworks .myworks-lists {
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  display: flex;
  justify-content: center;
}
.myworks-lists .work-item {
  border: 1px solid #0D81C3;
  border-top-right-radius: 50px;
  padding: 40px;
  width: 400px;
  margin-bottom: 60px;
}
.myworks-lists .work-item:nth-child(1) {
  margin-right: 40px;
}
.work-item .work-title {
  font-weight: bold;
  margin-bottom: 15px;
}
.work-item .work-description {
  /* color: gray; */
  font-size: small;
}
.work-item:hover {
  background-color: #0D81C3;
  color: #fff !important;
  transition: .5s ease-in-out;
}


/* Projects */
.projects {
  margin-top: 50px;
  margin-bottom: 75px;
}
.projects .project-title1, .projects .project-title2 {
  text-align: center;  
}
.project-title1 {
  color: #0D81C3;
}
.project-title2 {
  font-size: xx-large;
  font-weight: bold;
  color: #083E5E;
}
.projects .project-lists {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.project-lists .project-card {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  transition: .2s ease-in-out;
}
.project-lists .project-card:hover {
  -webkit-box-shadow: 0px -1px 5px 6px rgba(13,128,195,0.37);
-moz-box-shadow: 0px -1px 5px 6px rgba(13,128,195,0.37);
box-shadow: 0px -1px 5px 6px rgba(13,128,195,0.37);
border: 1px solid #0b81c2;
}
.project-lists .project-card:nth-child(2) {
  margin-left: 40px;
}
.project-card .project-img {
  border-radius: 10px;
}
.project-card .card-details {
  padding: 15px;
}
.card-details .project-name {
  font-weight: bold;
  margin: 10px 0; 
}
.card-details  .project-desc {
  font-size: small;
  margin-bottom: 15px;
  line-height: 1.5;
}
.project-card .project-link {
  position: absolute;
  display: flex;
  flex-flow: row-reverse;
  right: 15px;
  bottom: 15px;
}
.project-link .link-desc {
  margin-left: 5px;
  color: #0D81C3;
  text-decoration: none;
}

.card-details .project-skills {
  display: flex;
  padding: 0;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 40px;
}
.project-skills .project-skill-item {
  padding: 6px;
  border: 1px solid;
  border-radius: 10px;
  font-size: small;
  margin-right: 6px;
  margin-bottom: 5px;
  background-color: #0D81C3;
  color: #fff;
}


/* Contact Me */
.connect-section {
  padding-top: 75px;
  padding-bottom: 150px;
  background-color: #CCD1DB;
}
.connect-section .connect-title1, .connect-section .connect-title2 {
  text-align: center;
}
.connect-section .connect-title1 {
  color: #0D81C3;
}
.connect-section .connect-title2 {
  font-weight: bold;
  font-size: xx-large;
  color: #083E5E;
}
.connect-section .contact {
  margin-top: 50px;
  margin-bottom: 160px;
  /* display: flex; */
  /* justify-content: center; */
}
.contact-details {
  display: flex;
  justify-content: center;
}
.contact-item {
  display: flex;
  width: 400px;
  margin-right: 40px;
}
.contact-item:last-child {
  margin-right: 0;
}

.contact-item .item-details p {
  margin-left: 10px;
}
.contact-item .item-details p:first-child {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 2px;
  margin-bottom: 5px;
}
.contact-item .item-details p:last-child {
  font-size: small;
}
.contact-item .contact-icon-border img{
  /* width: 30px; */
}
/* 
.contact .contact-form, .contact .contact-details {
  width: 500px;
    border: 2px solid #cde;
}
.contact-form input, .contact-form input {
  border: 2px solid #cde !important;
}
input:focus-visible, textarea:focus-visible {
  outline: 2px solid #cde !important;
}
.contact-form .contact-name, .contact-form .contact-email {
  width: 230px;
  height: 40px;
  border-radius: 5px;
}
.contact-form .contact-sub, .contact-form .contact-msg {
  width: 495px;
  height: 40px;
  margin: 15px 0;
  border-radius: 5px;
  line-height: 200px;
}
.contact-form .contact-msg {
  height: 100px;
  overflow: hidden;
  border: 2px solid #cde !important;
}

.contact-name {
  margin-right: 25px;
}
 */


 #resumeViewer {
  width: 100%;
  height: 975px;
 }